*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgb(26, 25, 25);
 

}

a{
  color: #333;
  text-decoration: none;
}
