.properties-area {
    margin-top: 50px;
    
}

.properties-area .title{
    text-align: center;
    margin: 0 auto 75px;
}

.properties-area .title h1{
    text-transform: capitalize;
    font-weight: bold
}

/* Ads List */
.ads-col .ads-item{
    background-color: #fff;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    float: left; 
}
.ads-col .ads-media{
    position: relative;
}
.ads-col .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.ads-col .ads-card-content{
    padding: 20px;
}
.ads-col .ads-card-content h3{
    font-size: 1.89rem;
}
.ads-col .ads-address{
    display: table;
    margin-bottom: 20px;
}
.ads-col .ads-address i{
    position: relative;
    font-size: 14px;
}
.ads-col .ads-price strong{
    font-size: 30px;
    font-weight: 300;

}
.ads-col .ads-extra-content{
    float: left;
    width: 100%;
    border-top: 1px solid #f0f0f0
}
.ads-col .ads-extra-content ul{
    padding: 0 20px;
}
.ads-col .ads-extra-content ul li {
    list-style: none;
    width: 25%;
    float: left;
    padding: 10px 0;
}
.ads-col .ads-extra-content ul li span {
    display: block;
    color: #afafaf;
}


