/* Header */
.header-area{
    position: relative;
    margin-bottom: 120px;
}


/* Banner */
.banner-area .banner-inner{
    position: relative;
    min-height: 800px;
    background: url('./img/bg-img.jpg') no-repeat scroll center center
}

.banner-area .banner-inner h5.title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 7px;
    text-transform: capitalize
}

/* Filter */
.filter-search{
    
    position: relative;
    background: #fff;
    overflow: hidden;
    float: right;
    margin-top: -470px;
    border-radius: 20px;
    padding: 50px 30px;
    width: 100%;
    max-width: 360px;
    
}
.filter-search h5{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 550;
}

/* Recent Properties */
.recent-properties{
    padding: 100px 0;
}
